<p>{{shop.name}}</p>

<div id="shop">
    <table>
        <tr>
            <td>phone</td>
            <td>{{shop.phone}}</td>
        </tr>
        <tr>
            <td>cell</td>
            <td>{{shop.cell}}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{shop.email}}</td>
        </tr>
        <tr>
            <td>zip</td>
            <td>{{shop.zip}}</td>
        </tr>
        <tr>
            <td>addr1</td>
            <td>{{shop.addr1}}</td>
        </tr>
        <tr>
            <td>addr2</td>
            <td>{{shop.addr2}}</td>
        </tr>
    </table>
</div>